@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700;800;900&family=Barlow:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --r: #E8192C;
  --b: #0A1F5C;
  --g: #C9A84C;
  --gr: #00C853;
  --dk: #060D1F;
  --card: #0D1B3E;
  --gy: #8892A4;
}

body {
  background: #020810;
  color: #F5F5F0;
  font-family: 'Barlow', sans-serif;
}